NODE_ENV=development
PORT=3000
HOST="0.0.0.0"
DATABASE_URL="postgresql://user:password@localhost:5432/pos_system?schema=public"
JWT_SECRET=your-super-secret-jwt-key-min-32-chars-long
JWT_REFRESH_SECRET=your-super-secret-refresh-key-min-32-chars
REDIS_URL=redis://localhost:6379
